@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: 'Sora', sans-serif;
  --font-code: 'Source Code Pro', monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

.header {
  background: linear-gradient(45deg, #da2626, #0a69d7, #da263b, #151caf);
  background-size: 250% 150%;
  animation: gradientAnimation 60s ease infinite;
}

.selfie-ring1 {
  background-color: #175c8a;
}

.selfie-ring2 {
  background-color: #194b6d;
}

.selfie-ring3 {
  background-color: #173a51;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    width: 210mm;
    height: 297mm;
  }
}

@layer base {
  body {
    @apply font-sans text-n-1 text-base bg-white;
    width: 210mm;
    height: 297mm;
  }
}
